<div ng-controller="StudentController" ng-init="list()">
	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<div class="btn-group btn-group-sm pull-right" uib-dropdown>
						<button class="btn btn-default disabled">1 - 5 of 10</button>
						<button class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
						<button class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
						
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" uib-dropdown-toggle>
							<span class="glyphicon glyphicon-chevron-down"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="#/">Sort</a></li>
							<li><a href="#/">Filter</a></li>
							<li><a href="#/">Go to Page</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/">Some other link</a></li>
							
						  </ul>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default" ng-click="updateStatus('students')">Students</button>
						<button type="button" class="btn btn-default" ng-click="updateStatus('sections')">Sections</button>
					</div>
				</div>
				<div class="list-group-canvas list-group-search-results" ng-if="State==='students'">
					<div class="list-group-item ng-class:{active: student.first_name===Student.first_name}" ng-repeat="student in Students" ng-click="openStudentInfo(student)">
						<h4 class="list-group-item-heading">{{student.first_name}} {{student.middle_name}} {{student.last_name}} {{student.suffix_name}}</h4>
						<p class="list-group-item-text">{{student.id}} | <span ng-repeat="yearlevel in YearLevels | filter:{id: student.year_level_id}" ng-if="student.year_level_id">{{yearlevel.name}}</span></p>
					</div>
				</div>
				<div class="list-group-canvas list-group-search-results" ng-if="State==='sections'">
					<div class="list-group-item" ng-repeat="classlist in ClassLists" ng-click="openSectionInfo(classlist)">
						<h4 class="list-group-item-heading">{{classlist.section.name}}</h4>
						<p class="list-group-item-text">{{classlist.section.year_level}}</p>
					</div>
				</div>
				<div class="list-group-item list-group-search-box">
					<div class="input-group"> 
						<div class="input-group-btn"><button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
						<input type="text" class="form-control" placeholder="Search" />
						<div class="input-group-btn"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
					<label for="">Grade I Blue</label>
				</div>
				<div class="list-group-canvas">
					<div class="list-group-item">
						<dl class="dl-horizontal">
							<dt>Name</dt>
							<dd>Blue</dd>
							<dt>Level</dt>
							<dd>Grade I</dd>
						</dl>
					</div>
					<div class="list-group-item list-group-header">
						<h5 class="pull-left">Class List</h5>
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-default">Boys</button>
							<button type="button" class="btn btn-default">Girls</button>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="list-group-item">
						<table class="table table-bordered table-condensed">
							<thead>
								<tr>
									<th>ID</th>
									<th>Student</th>
									<th><button class="btn btn-default"><span class="glyphicon glyphicon-transfer"></span></button></th>
								</tr>
								<tr>
									<td><input class="form-control" type="text" placeholder="ID"/></td>
									<td><input class="form-control" type="text" placeholder="Full Name"/></td>
									<td><button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Ted Philip</td>
									<td><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>